#header{
    width: 100%;
    height: 121px;
    background: #fff;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    padding: 0 5%;
}

.logo {
    display: block;
    width: 210px;
    margin-left: 40px;
    float: left;
}

.header2_right {
    height: 18px;
    line-height: 18px;
    font-size: 13px;
    position: absolute;
    right: 30px;
    top: 21px;
}

.header2_right a{
	color: #6e6e6e;
}

.header_search {
    width: 18px;
    height: 18px;
    position: relative;
}
.fl {
    float: left;
}

.line1 {
    width: 1px;
    height: 18px;
    background: #c5c5c5;
    font-size: 0;
    margin: 0 15px;
}

.search_icon {
    width: 18px;
    height: 18px;
    background: url(../img/search_icon.png) #fff no-repeat;
    cursor: pointer;
    z-index: 20;
    position: relative;
}

.header1 {
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    z-index: 1000;
}

.login_link i {
    width: 15px;
    height: 17px;
    background: url(../img/login_icon.png) no-repeat;
    margin-right: 10px;
}

.login_link {
    margin-right: 12px;
}

.header2_right .arrow {
    position: relative;
    top: -5px;
}
.arrow {
    width: 8px;
    height: 5px;
    background: url(../img/arrow1.png) no-repeat;
}

i {
    display: inline-block;
}

.header_country ul {
    width: 112px;
    padding: 6px 30px 6px 15px;
    background: #fff;
    position: absolute;
    top: 39px;
    right: -30px;
    z-index: 500;
    display: none;
    box-sizing: border-box;
}

.header_country ul li a {
    font-size: 14px;
    color: #666;
    line-height: 13px;
    padding-left: 0;
}

.header_country ul li {
    padding: 13px 0 13px 15px;
    text-align: center;
}

.header_search .main {
    position: absolute;
    right: 0;
    top: -4px;
    width: 0;
    height: 22px;
    z-index: 10;
    overflow: hidden;
}

.header_search .btn {
    width: 18px;
    height: 18px;
    background: url(../img/search_icon.png) no-repeat;
    float: right;
    border: none;
    margin-top: 4px;
    cursor: pointer;
}

.header_search .text {
    width: 180px;
    height: 19px;
    line-height: 21px;
    color: #444;
    float: left;
    border: none;
    border-bottom: 1px solid #e4e4e4;
}

.header2 {
    padding: 0 100px;
    position: relative;
    z-index: 9999;
}

.nav {
    float: right;
    width: 934px;
}

.nav > li:first-child {
    padding-left: 0;
}

.nav > li {
    float: left;
    height: 60px;
    padding: 0 20px;
}

.nav > li > a {
    display: block;
    font-size: 16px;
    color: #444;
    line-height: 60px;
}

.nav_hover {
    width: 70px;
    height: 2px;
    font-size: 0;
    background: #0b87ce;
    position: absolute;
    bottom: 0;
    z-index: 10;
    left: -70px;
}

.nav_line {
    width: 100%;
    height: 1px;
    background: #e1e2e5;
    position: absolute;
    bottom: 0;
    z-index: 5;
    left: 0;
}

.subnav {
    width: 100%;
    background: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 100;
    display: none;
    -moz-box-shadow: 0 3px 3px 0px #eee;
    -webkit-box-shadow: 0 3px 3px 0px #eee;
    box-shadow: 0 3px 3px 0px #eee;
}

.pro_subnav {
    padding: 23px 8% 25px 8%;
}

.solution_subnav {
    padding: 23px 12% 72px 12%;
}

.subnav1 li {
    display: inline-block;
    margin-right: 60px;
}

.nav > li.on a, .nav > li:hover a {
    color: #0b87ce;
}

.subnav1 li a {
    font-size: 16px;
    color: #0383cc;
    line-height: 37px;
}
.news_nav1 i {
    display: block;
    width: 145px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background: #0383cc;
    font-size: 15px;
    color: #fff;
}

.solution_nav1 .con, .clientele_nav1 .con, .news_nav1 .con {
    font-size: 15px;
    color: #666;
    line-height: 28px;
    margin-bottom: 52px;
}

.solution_nav1 .subnav_title, .clientele_nav1 .subnav_title, .news_nav1 .subnav_title {
    margin-bottom: 9px;
}
.subnav_title {
    line-height: 34px;
    font-size: 20px;
    color: #333;
    font-weight: bolder;
}
.ellipsis, .footer_link ul li a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.news_nav1 {
    display: block;
    width: 33%;
    margin: 21px 7% 0 0;
}

.news_nav3 .imgBg {
    height: 155px;
}

.clear{
	display: block;
	visibility: hidden;
	content: " ";
	clear: both;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.news_nav3 {
    width: 20%;
    margin-top: 21px;
}

.imgBg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.clear-list {
    height: 70px;
}

.clear-list li {
    float: left;
    color: #666;
    margin: 5px 0px;
    font-size: 14px;
    width: 25%;
    text-align: left;
}

.news_nav2 i, .news_nav3 i {
    width: 25px;
    height: 25px;
    background: url(../img/subnav_icon.png) -40px 0;
}
.news_nav1 i {
    display: block;
    width: 145px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background: #0383cc;
    font-size: 15px;
    color: #fff;
}

.solution_nav1, .clientele_nav1 {
    width: 41%;
    margin: 21px 8% 0 0;
}

.subnav_list1 {
    width: 42%;
}

.subnav_title {
    line-height: 34px;
    font-size: 20px;
    color: #333;
    font-weight: bolder;
}

.subnav_list .subnav_list1 li {
    width: 100%;
    margin-right: 0;
}

.subnav_list .imgBg {
    width: 100%;
    height: 155px;
}

.subnav_list {
    margin-top: 21px;
    width: 51%;
}

.subnav_list .con {
    margin: 12px 0;
    font-size: 14px;
    color: #666;
    line-height: 29px;
}

.subnav_list i {
    display: block;
    width: 25px;
    height: 25px;
    background: url(../img/subnav_icon.png) -40px 0;
	transition: all .3s;
}

.subnav_list li:hover i {
    margin-left: 10px;
    transition: all .3s;
}

.fr {
    float: right;
}

.clientele_nav1 i {
    display: block;
    width: 145px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background: #0383cc;
    font-size: 15px;
    color: #fff;
}

.subnav_list .con {
    margin: 12px 0;
    font-size: 14px;
    color: #666;
    line-height: 29px;
}

.pro_subnav1 {
    width: 15%;
}

.nav .pro_subnav1 li {
    position: relative;
    border-right: 1px solid #eee;
}

.nav .pro_subnav1 li.on a, .nav .pro_subnav1 li:hover a {
    color: #0383cc;
    font-weight: bolder;
    border-bottom: 3px solid #0b87ce;
}
.nav .pro_subnav1 li a {
    line-height: 27px;
    display: block;
    width: 71%;
    font-size: 13px;
    color: #666;
    padding: 11px 0 9px 0;
    border-bottom: 1px solid #e1e1e1;
}

.nav .pro_subnav1 li.on i {
    display: block;
}
.nav .pro_subnav1 i {
    display: block;
    width: 8px;
    height: 14px;
    background: url(../img/arrow9.png) no-repeat;
    position: absolute;
    right: -1px;
    top: 50%;
    margin-top: -7px;
    display: none;
}

.pro_subnav2 {
    width: 16.5%;
    margin-right: 4%;
}

.pro_subnav2 ul {
    display: none;
}

.pro_subnav2 ul li {
    padding: 11px 0 10px 24%;
    line-height: 27px;
}

.pro_subnav2 ul li a {
    font-size: 14px;
    color: #666;
}

.pro_subnav2>ul:first-child{
	display: block;
}

.pro_subnav2 ul li a:hover {
    font-size: 13px;
    color: #0383cc;
    font-weight: bolder;
}

.pro_subnav3_path {
    display: block;
    border-bottom: 1px solid #eee;
    padding-bottom: 13px;
}

.pro_subnav3_path .arrowR {
    border-top: 5px solid transparent;
    border-left: 5px solid #0383cc;
    border-bottom: 5px solid transparent;
    margin-left: 10px;
}

.pro_subnav3_path img {
    width: 27%;
    margin: 20px 5% 0 0;
}

.pro_subnav3_path_r {
    width: 62%;
    padding-right: 6%;
}

.pro_subnav3_path .title {
    margin: 15px 0 8px 0;
    line-height: 29px;
    font-size: 16px;
    color: #333;
}

.pro_subnav3_path .con {
    line-height: 26px;
    font-size: 13px;
    color: #666;
}

.nav > li.on a, .nav > li:hover a {
    color: #0b87ce;
}

.clearfix:after {
    clear: both;
}

.pro_subnav3_link {
    margin-top: 17px;
}

.pro_subnav3_link a {
    line-height: 25px;
    font-size: 14px;
    color: #0383cc;
    margin-right: 30px;
}

.pro_subnav3_link i {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 25px;
    height: 25px;
    background: url(../img/subnav_icon.png) -80px 0 no-repeat;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.pro_subnav3_path:hover .title {
    color: #0383cc;
}
/* 头部结束 */

.side_service {
    height: 171px;
    width: 50px;
    background: #015bab;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -99px;
    z-index: 999;
    padding: 14px 0;
}

.side_service .service_tel {
    background-position: 13px 17px;
}
.side_service>a {
    background: url(../img/service_icon.png) no-repeat;
    width: 50px;
    height: 57px;
    cursor: pointer;
    position: relative;
    display: block;
}

.side_service .service_kefu {
    background-position: 13px -41px;
}

.side_service .service_qq {
    background-position: 13px -101px;
}

.service_qq .service_pull {
    width: 281px;
    height: 159px;
    background: #015bab;
    position: absolute;
    right: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: -105px;
    display: none;
}

.service_qq i {
    width: 1px;
    height: 130px;
    background: #0175c3;
    float: left;
    margin-top: 14px;
}

.sqr img {
    width: 108px;
    height: 108px;
    display: block;
    color: #fff;
    margin-bottom: 7px;
}

.sqr {
    float: left;
    text-align: center;
    width: 108px;
    margin: 14px 15px 0;
    color: #fff;
    font-size: 14px;
}

.service_kefu h1 {
    display: block;
    width: 110px;
    height: 30px;
    margin: 15px auto 0;
    line-height: 30px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
}

.service_kefu p {
    text-align: center;
    color: #e9e9e9;
    font-size: 15px;
    margin-top: 28px;
}

.service_kefu .service_pull {
    width: 158px;
    height: 129px;
    position: absolute;
    right: 100%;
    background: #015bab;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
    top: -35px;
}

#footer {
    width: 100%;
    padding: 29px 0 34px 0;
    background: #efefef;
}

.container1 {
    padding: 0 4.5%;
}

.footer_copy {
    padding: 38px 0 0 0;
    font-size: 13px;
    color: #888;
    text-transform: uppercase;
    line-height: 22px;
}

.footer_copy p {
    float: left;
}

.footer_nav {
    width: 11%;
    margin-right: 8%;
}

.footer_nav li a {
    display: block;
    padding: 0 7.7% 0 3px;
    font-size: 15px;
    color: #666;
    font-weight: bolder;
}

.footer_nav i {
    width: 13px;
    height: 7px;
    background: url(../img/arrow2.png) no-repeat;
    float: right;
    margin-top: 19px;
}

.footer_nav li {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px dotted #b2b2b2;
}

.footer_right {
    width: 18.5%;
    float: left;
    margin: 14px 4.4% 0 7.4%;
}

.bdsharebuttonbox.bdshare-button-style0-32 a {
    margin: 0 10px 0 0;
    background: url(../img/footer_share2.png) no-repeat;
    padding-left: 0;
    width: 30px;
    height: 30px;
    background-size: auto 100%;
}
.bdshare-button-style0-32 .bds_tsina {
    background-position: 0 -104px;
}
.bdshare-button-style0-32 a {
    float: left;
    width: 32px;
    line-height: 32px;
    height: 32px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 6px 6px 6px 0;
    text-indent: -100em;
    overflow: hidden;
    color: #3a8ceb;
}

.bdsharebuttonbox.bdshare-button-style0-32 a:hover {
    opacity: 1;
    background-position: -120px 0;
}

.footer_ewm {
    width: 19.5%;
    float: left;
    margin-top: 17px;
}

.footer_ewm li {
    width: 36%;
    float: left;
    margin: 0 0 0 13%;
}

.footer_ewm .img {
    background: #fff;
    padding: 6px;
}

.footer_ewm p {
    font-size: 14px;
    color: #666;
    padding-top: 10px;
    text-align: center;
}

.footer_ewm img {
    display: block;
    width: 100%;
}

/* 头部  */
.content_top{
	background: url(../img/201834875000002246.jpg);
    display: block;
    width: 100%;
    height: 500px;
}

#content{
	position: relative;
}

.content_top_main{
	width: 16.2%;
    height: 500px;
    padding: 0 2.4%;
    position: absolute;
    top: 0;
    right: 18%;
    background: rgba(0,0,0,0.7);
    color: #fff;
}

.content_top_main .title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 5%;
    padding-top: 40%;
}

.content_top_main .con{
    font-size: 14px;
    line-height: 32px;
}

.pc_solution_nav {
    border-bottom: 1px solid #eee;
}

.pc_solution_nav li {
    width: 14%;
    float: left;
}

.pc_solution_nav li.on a {
    border-bottom: 1px solid #81b6e0;
    color: #69a9dc;
}

.pc_solution_nav li a {
    display: block;
    padding: 38px 0 0 0;
    color: #7d7d7d;
    font-size: 15px;
    height: 135px;
    text-align: center;
    position: relative;
}

.pc_solution_nav li span {
    line-height: 41px;
}

.pc_solution_nav li.on em {
    display: block;
    width: 14px;
    height: 8px;
    background: url(../img/recruit_on.png) no-repeat;
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -7px;
}

.pc_solution_nav li.on .icon1, .pc_solution_nav li:hover .icon1 {
    background-position: -560px 0;
}

.pc_solution_nav li i {
    width: 68px;
    margin: 0 auto;
    display: block;
    background: url(../img/solution_icon.png) no-repeat;
    width: 68px;
    height: 68px;
}

.mrgB50 {
    margin-bottom: 50px;
}

.solution_vedio {
    position: relative;
    margin: 35px 0;
}

.solution_vedio #vedio {
   background-color: rgb(0, 0, 0);
    width: 1367px;
    height: 670px;
    cursor: pointer;
}

.main_zhe{
    width: 45%;
    padding: 12px 2.4% 16px 2.4%;
    background: rgba(255,255,255,0.8);
    position: absolute;
    top: 0;
    right: 0;
}

.solution_vedio .arrowL {
    position: absolute;
    left: -13px;
    top: 50%;
    margin-top: -6px;
    border-top: 12px solid transparent;
    border-right: 13px solid #fff;
    border-bottom: 12px solid transparent;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.solution_vedio .con {
    line-height: 32px;
    font-size: 15px;
    color: #666;
    padding-bottom: 22px;
    border-bottom: 1px solid #b3b8be;
}

.solution_vedio .title {
    line-height: 70px;
    font-size: 26px;
    color: #333;
}

.solution_vedio ul {
    margin-top: 29px;
}

.solution_vedio li {
    width: 50%;
    float: left;
    margin-bottom: 20px;
}

.solution_vedio a {
    font-size: 15px;
    color: #666;
    line-height: 25px;
}

.solution_vedio a span {
    float: left;
}

.solution_vedio a i {
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    background: url(../img/arrow6.png) no-repeat;
    background-size: auto 100%;
}

.news_top {
    line-height: 34px;
    margin: 0 0 15px 0;
}

.news_top .title {
    font-size: 26px;
    color: #444;
}

.more1 {
    display: block;
    width: 39px;
    margin: 0 auto;
    cursor: pointer;
}

.solution_list {
    margin: 15px 0 0 0;
}

.solution_list .img {
    width: 100%;
    height: 200px;
}

.solution_list .main {
    height: 132px;
    background: #f7f7f8;
    padding: 22px 9% 36px 9%;
    position: relative;
}

.solution_list .con {
    width: 100%;
    font-size: 14px;
    color: #666;
    padding-top: 15px;
    line-height: 30px;
    height: 90px;
    overflow: hidden;
}

.solution_list li {
    width: 23%;
    float: left;
    margin: 0 1.3% 20px 0;
}

.solution_list .title {
    font-size: 17px;
    color: #000;
    line-height: 27px;
}

.solution_list .arrowT {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #73afdd;
    position: absolute;
    top: -14px;
    left: 50%;
    margin-left: -14px;
}

.solution_list .hover {
    width: 100%;
    padding: 22px 0 36px 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #73afdd;
    display: none;
}

.solution_list .hover .title, .solution_list .hover .con {
    width: 82%;
    color: #fff;
    padding: 0 9%;
}

.solution_list .img{
	background-image: url(../img/bitmap.gif);
}
